@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 5rem;

    .campo {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        padding: 1rem;
        border: 1px solid v.$gris;
        background-color: lighten(v.$gris, 40%);
        border-radius: 1rem;
    }
}