@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: hidden;
        z-index: 90;
    }

    .burbuja {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: v.$azul;
        opacity: .3;

        position: absolute;
        bottom: -150;
        left: 20%;

        animation: burbujas 4s linear infinite;

        z-index: -1;
    }

    .burbuja:nth-child(1) {
        width: 80px;
        height: 80px;
        left: 20%;
        animation-duration: 2s;
        animation-delay: 1s;
    }

    .burbuja:nth-child(2) {
        width: 100px;
        height: 100px;
        left: 30%;
        animation-duration: 2s;
        animation-delay: 2s;
    }
    .burbuja:nth-child(3) {
        width: 50px;
        height: 50px;
        left: 40%;
        animation-duration: 4s;
        animation-delay: 1s;
    }

    .burbuja:nth-child(4) {
        width: 85px;
        height: 85px;
        left: 60%;
        animation-duration: 3s;
        animation-delay: 2s;
    }
    .burbuja:nth-child(5) {
        width: 66px;
        height: 66px;
        left: 80%;
        animation-duration: 2s;
        animation-delay: 1s;
    }

    .burbuja:nth-child(6) {
        width: 100px;
        height: 100px;
        left: 90%;
        animation-duration: 2s;
        animation-delay: 2s;
    }

    @keyframes burbujas {
        0% {
            bottom: 0;
            opacity: 0;
        }

        30% {
            transform: translateX(30px);
        }

        50% {
            opacity: .4;
        }

        100% {
            bottom: 100vh;
            opacity: 0;
        }
    }

    .contenido {
        padding: 2rem;

        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }

    }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }

        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }

    .enlace {
        color: v.$indigo;

        &:hover {
            color: darken(v.$indigo, 30%);
        }
    }
}